@import url(http://fonts.googleapis.com/css?family=Roboto:400,100,300,900,700,500,100italic,300italic,400italic,500italic,700italic,900italic|Roboto+Condensed:400,300,700|Roboto+Mono:400,100,300,500,700);
@media (min-width: 30em) {
  .row {
    width: 100% !important;
    display: table !important;
    table-layout: fixed !important; }

  .col {
    display: table-cell; }

  .row:before, .row:after {
    content: none; } }
body {
  padding: 0;
  margin: 0;
  font-family: 'Roboto', sans-serif; }

nav {
  background: #00559D;
  width: 100%;
  height: 50px;
  box-shadow: inset 0px -4px 10px rgba(0, 134, 212, 0.4);
  position: relative; }
  nav img {
    height: 38px;
    margin-left: 24px;
    position: relative;
    top: 6px; }
  nav h1.nav-title {
    font-size: 22px;
    font-family: 'roboto condensed';
    font-weight: 100;
    letter-spacing: 0.5px;
    position: relative;
    display: inline-block;
    margin: 0px;
    margin-left: 8px;
    color: #fff;
    top: -5px; }
  nav .change-brand {
    text-transform: uppercase;
    color: #00A7F7;
    border: 1px solid #00A7F7;
    border-radius: 4px;
    padding: 4px 10px;
    font-family: 'Roboto Condensed';
    font-weight: 100;
    font-size: 12px;
    letter-spacing: 0.5px;
    position: relative;
    top: -9px;
    margin-left: 10px;
    transition: 0.2s color, 0.2s border-color;
    cursor: pointer; }
    nav .change-brand:hover {
      color: #7DD3FC;
      border-color: #7DD3FC; }
  nav ul.nav-list {
    display: inline-block;
    margin: 0;
    padding: 0;
    position: relative;
    top: -8px;
    height: 50px;
    text-indent: 0;
    text-align: center;
    margin-left: 40px; }
    nav ul.nav-list li {
      display: inline-block;
      margin: 0;
      padding: 0px;
      line-height: 50px;
      height: 100%;
      opacity: 0.7;
      text-indent: 0;
      text-align: center;
      margin-left: -5px;
      border-left: 1px solid transparent;
      border-right: 1px solid transparent;
      transition: 0.2s opacity; }
      nav ul.nav-list li:hover {
        opacity: 1;
        box-shadow: inset 0px 0px 20px rgba(125, 211, 252, 0.2); }
      nav ul.nav-list li a {
        text-decoration: none;
        color: #fff;
        padding: 0 20px;
        font-family: 'Roboto Condensed';
        font-weight: 100; }
    nav ul.nav-list .current-section {
      background-color: #003F74;
      border-left: 1px solid #003F74;
      border-right: 1px solid #003F74;
      opacity: 1;
      box-shadow: inset 0px 0px 14px rgba(0, 85, 157, 0.19) !important; }

header.selection-hierarchy {
  background: #EFEFED;
  width: 100%;
  height: 50px;
  padding-left: 24px; }
  header.selection-hierarchy h2 {
    color: #595757;
    font-family: 'roboto condensed';
    margin: 0;
    font-weight: 100;
    font-size: 18px;
    height: 50px;
    line-height: 50px;
    display: inline-block;
    margin-right: 20px; }
  header.selection-hierarchy .selection-container {
    display: inline-block;
    position: relative;
    top: -1px; }
    header.selection-hierarchy .selection-container select {
      font-family: 'Roboto Condensed';
      font-size: 14px;
      font-weight: 100;
      color: #595757;
      -webkit-appearance: none;
      min-width: 150px;
      border: 1px solid #A4A3A2;
      padding: 6px 10px 6px 6px;
      box-shadow: none;
      background-color: #fff;
      background-image: url(../img/caret.png);
      background-repeat: no-repeat;
      background-position: center right;
      margin-right: 8px; }
      header.selection-hierarchy .selection-container select:focus {
        outline: none; }
