// google fonts
@import url(http://fonts.googleapis.com/css?family=Roboto:400,100,300,900,700,500,100italic,300italic,400italic,500italic,700italic,900italic|Roboto+Condensed:400,300,700|Roboto+Mono:400,100,300,500,700);
// ungrid
@media (min-width: 30em) {
	.row {width: 100% !important;  display: table !important; table-layout: fixed !important; } .col {display: table-cell; } 
	.row:before, .row:after{
		content: none;
	}
}

// colors
$gray-black: #222;
$gray-500: #333131;
$gray-400: #595757; 
$gray-300: #7E7D7C;
$gray-200: #A4A3A2;
$gray-100: #C9C9C7;
$gray-000: #EFEFED;
//

$red-black: #8B0600;
$red-500: #B2130C;
$red-400: #D52C28;
$red-300: #F7402D;
$red-200: #E77271;
$red-100: #F19999;
$red-000: #FFEBEE;

//
$blue-black: #003F74;
$blue-500: #00559D;
$blue-400: #0086D4;
$blue-300: #00A7F7;
$blue-200: #7DD3FC;
$blue-100: #B1E5FD;
$blue-000: #E0F5FF;

//
$green-black: #033F24;
$green-500: #025932;
$green-400: #01834B;
$green-300: #00AD63;
$green-200: #4CC27D;
$green-100: #92D6AE;
$green-000: #C5E3D2;

//
$orange-black: #7B2B00;
$orange-500: #B64000;
$orange-400: #DC6300;
$orange-300: #FF8000;
$orange-200: #FF9901;
$orange-100: #FFCD7A;
$orange-000: #FFF3DF;
// other variables
$button-radius: 4px;


body{
	padding: 0;
	margin: 0;
	font-family: 'Roboto', sans-serif;
}

nav{
	background: $blue-500;
	width:100%;
	height: 50px;
	box-shadow: inset 0px -4px 10px rgba(0, 134, 212, 0.4);
	position: relative;
	img{
		height: 38px;
    	margin-left: 24px;
    	position: relative;
    	top: 6px;
	}
	h1.nav-title{
		font-size: 22px;
		font-family: 'roboto condensed';
		font-weight: 100;
		letter-spacing: 0.5px;
		position: relative;
		display: inline-block;
		margin: 0px;
		margin-left: 8px;
		color: #fff;
		top: -5px;
	}
	.change-brand{
		text-transform: uppercase;
		color: $blue-300;
		border: 1px solid $blue-300;
		border-radius: $button-radius;
		padding: 4px 10px;
		font-family: 'Roboto Condensed';
		font-weight: 100;
		font-size: 12px;
		letter-spacing: 0.5px;
		position: relative;
		top: -9px;
		margin-left: 10px;
		transition: 0.2s color, 0.2s border-color;
		cursor: pointer;
		&:hover{
			color:$blue-200;
			border-color:$blue-200;

		}
	}
	ul.nav-list{
		display: inline-block;
		margin: 0;
		padding: 0;
		
		position: absolute;
		top: 0px;
		right:0px;
		//position: relative;
		//right: 0;
		//top: -8px;
		height: 50px;
		text-indent: 0;
		text-align: center;
		margin-left: 40px;

		li{
			display: inline-block;
			margin: 0;
			padding: 0px;
			line-height: 50px;
			height: 100%;
			opacity: 0.7;
			text-indent: 0;
			text-align: center;
			margin-left: -5px;
			border-left: 1px solid transparent;
			border-right: 1px solid transparent;
			transition: 0.2s opacity;
			&:hover{
				opacity: 1;
				box-shadow: inset 0px 0px 20px rgba(125, 211, 252, 0.2);
			}
			a{
				text-decoration: none;
				color: #fff;
				padding: 0 20px;
				font-family: 'Roboto Condensed';
				font-weight: 100;
			}
		}

		// curent section on nav list
		.current-section{
			background-color: $blue-black;
			border-left: 1px solid $blue-black;
			border-right: 1px solid $blue-black;
			opacity: 1;
			box-shadow: inset 0px 0px 14px rgba(0, 85, 157, 0.19) !important;
		}
	}
} // END OF NESTED NAV SELECTIONS

// Selection and Hierarchy

header.selection-hierarchy{
	background: $gray-000;
	width: 100%;
	height: 50px;
	padding-left: 24px;
	h2{
		color: $gray-400;
		font-family: 'roboto condensed';
		margin: 0;
		font-weight: 100;
		font-size: 18px;
		height: 50px;
		line-height: 50px;
		display: inline-block;
		margin-right: 20px;

	}
	.selection-container{
		display: inline-block;
		position: relative;
		top: -1px;
		select{
			font-family: 'Roboto Condensed';
			font-size: 14px;
			font-weight: 100;
			color: $gray-400;
			-webkit-appearance:none;
			min-width: 150px;
			border: 1px solid $gray-200;
			padding: 6px 10px 6px 6px;
			box-shadow: none;
			background-color: #fff;
			background-image: url(../img/caret.png);
			background-repeat: no-repeat;
			background-position: center right;
			margin-right: 8px;
			&:focus{
				outline: none;
			}
		}
		i{
			color: $gray-200;
			font-size: 20px;
			position: relative;
			top:2px;
			transition: color 0.2s;
			cursor: pointer;
			&:hover{
				color: $gray-300;
			}
		}
		i.exact-date{
			color: $orange-300 !important;
		}
		select.date{
			min-width: 90px;
			background-image: none;
		}
	}

	.submit-button{
		color: #fff;
		font-size: 14px;
		border: 1px solid $orange-400;
		background: $orange-300;
		padding: 6px 10px;
		font-family: 'roboto condensed';
		font-weight: 100;
		text-transform: uppercase;
		border-radius: $button-radius;
		position: relative;
		top: -1px;
		margin-left: 10px;
		box-shadow: inset 4px 2px 10px $orange-200;
		cursor: pointer;
		transition: box-shadow 0.1s;
		&:active{
			box-shadow: inset 2px 1px 10px $orange-400;
		}
	}
}








